@font-face {
    font-family: "raleway";
    src: url("../fonts/Raleway-ExtraBold.otf") format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "sometypemono";
    src: url("../fonts/SourceSans3-Regular.otf") format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "montserrat";
    src: url("../fonts/Montserrat-SemiBold.otf") format("opentype");
    font-display: swap;
}

.font-one {
    font-family: 'raleway';
}

.font-two {
    font-family: 'sometypemono';
}

.font-three {
    font-family: 'montserrat';
}